body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Регистрационная форма */
  .registration-form {
    position: relative;
    margin: 50px auto;
    padding: 20px;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Форма ниже модального окна */
  }
  
  /* Скрытие регистрационной формы при открытом модальном окне */
  .registration-form.hidden {
    display: none;
  }
  
  /* Стиль для заголовка регистрационной формы */
  .registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  
  /* Модальное окно */
  .registration-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Скрыто по умолчанию */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Модальное окно сверху */
  }
  
  /* Активное состояние модального окна */
  .registration-modal.active {
    display: flex;
  }
  
  /* Содержание модального окна */
  .modalr-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1010; /* Модальное окно поверх overlay */
  }
  
  /* Стиль заголовка в модальном окне */
  .modalr-content h2 {
    margin-bottom: 20px;
  }
  
  /* Кнопка в модальном окне */
  .modalr-content button {
    background: none;
    border: none;
    color: #007BFF;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  /* Ховер на кнопку */
  .modalr-content button:hover {
    color: #0056b3;
  }
  
  /* Фон для модального окна */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900; /* Overlay под модальным окном */
    pointer-events: all; /* Слушаем события кликов на фоне */
  }
  
  /* Кнопка закрытия */
  .close-btn {
    background: none;
    border: none;
    font-size: 18px;
    color: #333;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 5px;
    border-radius: 50%;
  }
  
  /* Ховер на кнопку закрытия */
  .close-btn:hover {
    color: #9d0404;
  }
  
  /* Анимация открытия модального окна */
  @keyframes scaleUp {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1);
    }
  }
  
  /* Запрещаем прокрутку страницы при открытом модальном окне */
  body.modal-open {
    overflow: hidden;
  }
  