/* Модальное окно */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
    z-index: 1000; /* Модальное окно будет сверху */
  }
  

  .modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    position: relative; /* Убедимся, что позиционирование кнопки будет относительным этому контейнеру */
    animation: scaleUp 0.3s ease-in-out;
  }
  
  /* Закрытие кнопки */
  .close-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    position: absolute;
    top: 10px; /* Расположение сверху */
    right: 10px; /* Расположение справа */
    cursor: pointer;
    z-index: 10; /* Убедимся, что кнопка всегда поверх */
    transition: color 0.3s ease;
  }
  
  .close-btn:hover {
    color: #f44336;
  }
  
  /* Анимации */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes scaleUp {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1);
    }
  }
  